on:
  push:
      branches:
        - master
      paths:
        - pages/Prog:*/content.S
  workflow_dispatch:

jobs:
  compile:
    name: Compile all prog pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      # - name: Hotfix for a setup-php bug
      #   run: 'sudo ln -sf $(which apt-get) /usr/bin/apt-fast'

      - name: Setup PHP
        run: 'sudo apt-get install -y php'

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1.5.1
        with:
          version: 3.01

      - name: Setup 7z
        uses: AnimMouse/setup-p7zip-fork@v2

      - name: Execute compile script
        run: 'php scripts/compile-all.php'

      - name: Glob all output files
        run: 'echo "OUTFILES=$(php scripts/glob-outfile.php)" > $GITHUB_ENV'

      - name: Archive output files
        run: '7za a -t7z -bd -snl -spd out.7z $OUTFILES'

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Binaries of all prog pages
          path: out.7z

