on:
  push:
      branches:
        - master
      paths:
        - pages/Prog:*/content.S
  workflow_dispatch:

jobs:
  compile:
    name: Compile all prog pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      # - name: Hotfix for a setup-php bug
      #   run: 'sudo ln -sf $(which apt-get) /usr/bin/apt-fast'

      - name: Setup PHP
        uses: nanasess/setup-php@v4.3.0
        with:
          php-version: 8.5.0

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1.5.1
        with:
          version: 3.01

      - name: Setup 7z
        uses: AnimMouse/setup-p7zip-fork@v2

      - name: Execute compile script
        run: 'php scripts/compile-all.php'

      - name: Glob all output files
        run: 'echo "OUTFILES=$(php scripts/glob-outfile.php)" > $GITHUB_ENV'

      - name: Archive output files
        run: '7za a -t7z -bd -snl -spd out.7z $OUTFILES'

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Binaries of all prog pages
          path: out.7z

  test:
    name: Test all prog pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      # - name: Hotfix for a setup-php bug
      #   run: 'sudo ln -sf $(which apt-get) /usr/bin/apt-fast'

      - name: Setup PHP
        uses: nanasess/setup-php@v4.3.0
        with:
          php-version: 8.5.0

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1.5.1
        with:
          version: 3.01

      - name: Setup dependencies of GDB
        run: 'sudo apt-get install -y libmpfr-dev'

      - name: Setup GDB
        run: 'wget https://ftp.gnu.org/gnu/gdb/gdb-16.3.tar.gz && tar xzvf gdb-16.3.tar.gz && cd gdb-16.3 && bash ./configure && make -j12 && sudo make install && cd ..'

      - name: Compile all prog pages
        run: 'php scripts/compile-all.php'

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: false

      - name: Test and save report
        run: 'php scripts/test.php > $GITHUB_STEP_SUMMARY'
