on:
  push:
      branches:
        - master
      paths:
        - pages/Prog:*/content.S
  workflow_dispatch:

jobs:
  compile:
    name: Compile all prog pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      # - name: Hotfix for a setup-php bug
      #   run: 'sudo ln -sf $(which apt-get) /usr/bin/apt-fast'

      - name: Setup PHP
        run: 'sudo apt-get install -y php'

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1.5.1
        with:
          version: 3.01

      - name: Setup 7z
        uses: AnimMouse/setup-p7zip-fork@v2

      - name: Execute compile script
        run: 'php scripts/compile-all.php'

      - name: Glob all output files
        run: 'echo "OUTFILES=$(php scripts/glob-outfile.php)" > $GITHUB_ENV'

      - name: Archive output files
        run: '7za a -t7z -bd -snl -spd out.7z $OUTFILES'

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Binaries of all prog pages
          path: out.7z

  test:
    name: Test all prog pages
    strategy:
      fail-fast: false
      matrix:
        localsettings_variant:
          - default
          - o2-opti
        testcase:
          - 1
          - 2
          - 3
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      # - name: Hotfix for a setup-php bug
      #   run: 'sudo ln -sf $(which apt-get) /usr/bin/apt-fast'

      - name: Setup PHP
        run: 'sudo apt-get install -y php'

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1.5.1
        with:
          version: 3.01

      - name: Setup GDB
        run: 'sudo apt-get install -y gdb'

      - name: Reset workspace
        run: 'git reset --hard'

      - name: Switch local settings variant
        run: 'mv scripts/localsettings.php.${{ matrix.localsettings_variant }} scripts/localsettings'

      - name: Switch testcase
        run: 'php scripts/switch-testcase-all.php ${{ matrix.testcase }}'

      - name: Compile all prog pages
        run: 'php scripts/compile-all.php'

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      #   with:
      #     limit-access-to-actor: false

      - name: Test and save report
        run: 'php scripts/test.php | sed -e ''s/测试报告/测试报告 (编译配置变体: ${{ matrix.localsettings_variant }}, 测试用例变体: ${{ matrix.testcase }})/''> $GITHUB_STEP_SUMMARY'

      - name: Fail workflow when test fail
        run: 'php scripts/fail-if-test-fail.php'
